page-home {

  hr {
    position: relative;
    display: inline;
    float: left;
    width: 100%;
    padding-left: 300px;
    padding-right: 300px;
    margin-left: -300px;
    margin-right: 300px;
  }

}
